/* disable these when you're done */
.ui-grid-container-one {
  /* background-image: url('/images/grid-1.png'); */
}
.ui-grid-container-two {
  /* background-image: url('/images/grid-2.png'); */
}
.ui-grid-container-three {
  /* background-image: url('/images/grid-3.png'); */
}
/* your CSS goes here */
.ui-grid-container { 
  background-color: rgb(100, 149, 237);
  display: grid;
  grid-template-columns: repeat(5,1fr);
 
}
.ui-grid-container div:nth-child(even) {
  background-color: white;
}
.pink {
  background-color: rgb(252, 106, 215);
  grid-column: 2/6;
  grid-row: 2/4;
}

.ui-grid-container-two div.blue {
  background-color: rgb(100, 149, 237);
}
.ui-grid-container-two div.white {
  background-color: white;
}
.ui-grid-container-three {
  position: relative;
}

.ui-grid-container-three div.blue {
  background-color:rgb(100, 149, 237);
  grid-column: 1/5;
  grid-row: 1/6;
}
.ui-grid-container-three div.pink {
  background-color:rgb(252, 106, 215);
  grid-column: 5/6;
  grid-row: 1/7;
}
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7em;
  font-weight: 900;
  text-shadow: 2px 2px rgb(255, 151, 229);
  position: absolute;
  top: 300px;
  right: 20px;
  color: rgb(223, 10, 116);
}

